<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
  <!-- create form that will be autofilled and able to be changed -->
  <form>
    <fieldset style="width: 0px;">
      <label>Description</label><br>
      <input type="text" id="description" name="description" placeholder="Description">
      <br><br>
      <label>Vehicle Type: </label><br>
      <input type="radio" value="C" id="vehicleC" name="type" checked>
      <label>Car</label>
      <br><br>
      <input type="radio" value="T" id="vehicleT" name="type">
      <label>Truck</label>
      <br><br>
      <input type="radio" value="B" id="vehicleB" name="type">
      <label>Bike</label>
      <br><br>
      <input type="radio" value="M" id="vehicleM" name=type">
      <label>Motorcycle</label>
      <br><br>
      <label>Year: </label><br>
      <input type="number" min="1950" id="year" name="year" placeholder="Year">
      <br><br>
      <label>Mileage: </label><br>
      <input type="number" id="mileage" name="mileage" placeholder="Mileage">
      <br><br>
      <label>Still Using?:</label><br>
      <label>Yes</label>

      <input type="checkbox" id="usingY" name="still_using">
      <label>&nbsp;&nbsp;&nbsp;No</label>
      <input type="checkbox" id="usingY" name="still_using">
    </fieldset>
  </form>
  <br><br>
  <form action="/addVehicle" action="POST">
    <button class="button is-primary is-outlined">Save</button>
  </form>
  <form action="/" action="GET">
    <button class="button is-primary is-outlined">Cancel</button>
  </form>

</body>

</html>